# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Virtual environment
venv/
.env
env/
ENV/

# Node / Tailwind
node_modules/
theme/static_src/node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Static collected
staticfiles/
